body {
  margin: 0;
  font-family: sans-serif;
  font-size: 100px;
}
button {
  position: center;
}
label {
  position: center;
}
input {
  position: center;
}
.logowanie{
  position: relative;
  text-align: right;
 
  width: 50%;
  height: 10%;
}
.proba{
width:50%;
  height:10%;
  text-align:left;
}
