*
{
	box-sizing: border-box;
}
body {
	font-family:arial;
	padding: 20px;
	background-color: #CDB891;
}
header {
	position: relative;
	text-align: center;
	padding: .5rem;
	font-size:15px;
	
}
.header1{
    float:right;
	display:block;
	color:#F0E68C;
	text-align:center;
	text-decoration:none;
}
header a img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}
article h3{
  text-align:center;
  font-size:30px;
}
header h2 a {
    text-decoration:none;
    color:#333;
}
nav {
	overflow:hidden;
	background-color:#333;
}
nav img{
    width: 25px;
    height: 25px;}
nav a {
	float:right;
	display:block;
	color:#F0E68C;
	text-align:center;
	padding:5px 55px;
	text-decoration:none;
	margin-top:0.5rem;
}
nav a:hover {
	background-color:#ddd;
	color:#000;
	margin-top:1.5px;
	margin-bottom:1.5px;
}
section {
	overflow:hidden;
	width:100%;
}
article {
	float:left;
	width:100%;
}
.card h2{
    text-align:center;
}
.cardImg {
	background-color: #fff;
	padding:20px;
	margin-top:20px;
}
.cardImgrest {
	background-color: #fff;
	padding:20px;
	margin-top:20px;
	position:center;
	margin-left:25%;
	margin-bottom:20%;
}
article .card {
	background-color:#fff;
	padding:20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	width: 30%;
	float: left;
	transition: transform .2s;
}
article .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

article .koszykowe {
	background-color:#fff;
	margin-top: 6px;
	padding:20px;
	width: 30%;
	margin-left: auto;
    	margin-right: auto;
	transition: transform .2s;
	display: flex;
    	justify-content: space-between;
    	align-items: center;

}
article .tytul{
	background: #dddddd;
	text-align:center;
	color:#220300;
	padding:20px;
	margin-top: 20px;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
	transition: transform .2s;
}
@media(max-width:800px) {
	article, aside {
		width:80%;
		padding:0;
		background-color:#000;
	}
}
@media(max-width:400px) {
	nav a {
		float:none;
		width:100%;
	}
}
.dostawa{
	text-align:center;
	background-color: #fff;
	padding:20px;
	margin-top:20px;
}
.dostawa form label{
	text-decoration: bold;
	
}
.dostawa input[type="text"],
.dostawa input[type="email"],
.dostawa input[type="password"],
.dostawa input[type="tel"], .przy, .platnoscBtn,
.dostawa button, .promo .opcje input[type="number"]
{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
 .promo .opcje {
	 text-decoration: bold;
	 font-family: "Arial Black";
 }

.dostawa input[type="text"],
.dostawa input[type="email"],
.dostawa input[type="password"],
.dostawa input[type="tel"] {
    background-color: #f8f8f8;
    color: #333;
    border: 2px solid #CDB891;
}

.dostawa button, .platnoscBtn {
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 7%
}

.dostawa button:hover, .platnoscBtn:hover {
    background-color: #555;
}
header a{
	position:relative;
}
header a img {
    filter: grayscale(100%);
    transition: transform .2s;
	position:relative;
}
.payment-form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  margin-top:20px;
}
 .payment-form h2 {
	 margin-left: 40%;

}
.payment-option {
	display: flex;
      align-items: center;
      margin-bottom: 10px;
}

.payment-option input {
	margin-right: 10px;
	margin-left: 45%;
}

.payment-option label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.payment-form button {
	 margin-left: 48%;
}
.shops{
	margin-right: 65%;
}

.przyciski {
    align-items: center;
    justify-content: space-between;
	text-decoration: none ;
	display:block;
}

.przycisk {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
	text-decoration: none ;
	display:block;
}

.przycisk:hover {
    background-color: #555;
}

article h3{
  text-align:center;
  font-size:30px;
}
article p {
	font-size: 20px;
	text-align: center;
	background: #dddddd;
}
.promo {
	background-color:#fff;
	margin-top: 6px;
	padding:20px;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
	transition: transform .2s;

}
.promo .opcje {
	text-align: center;
}
.promo .opcje select {
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #CDB891;
	background-color: #f8f8f8;
	font-size: 16px;
	color: #333;
	margin: 8;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    margin-top: 20px;
}

.contact, .socials {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}
.socials {
    margin-left: 0;
}

.contact img, .socials img {
    vertical-align: middle;
}

.contact p, .socials h3, .social-icons li {
    margin: 0;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #CDB891;
    font-size: 20px;
}

.tel, .mail {
    display: inline-block;
    vertical-align: middle;
    margin-right: 400px;
}

.tel p, .mail p {
    font-size: 120%;
}
.button1 button {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 12px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

.button1 button:hover {
    background-color: #555;
}
.link{
	background-color:#333;
	border:none;
	text-decoration:none;
	color:#F0E68C;
	text-align:baseline;
	font-family:inherit;
	font-size:inherit;
	padding:5px 55px;
	margin-top:0.5rem;
}
.link:hover{
    background-color:#ddd;
	color:#000;
	margin-top:1.5px;
	margin-bottom:1.5px;
}
.dropdown {
    float:right;
}
.dropdown-menu{
    left:0;
    top:calc(100% + .25rem);
    background-color:#333;
    color:#F0E68C;
    overflow: hidden;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0rem rgba(0,0,0,.175);
    opacity: 0;

}
.dropdown > .link:focus+.dropdown-menu{
    opacity: 1;
    transition: all .3ms ease-in-out;
}

.przycis {
    align-items: center;
    justify-content: space-between;
	text-decoration: none ;
	display:block;
}
.przy {
	padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
	text-decoration: none ;
	display:block;
	width: 10%;
	margin-left: 45%;
}
.przy:hover {
    background-color: #555;
}
a {
	text-decoration:none;
}

.opis{
	background: #dddddd;
}
h1{
	font-size: 200%;
	text-align:center;
}
.gotowe {
	text-align: center;
	background: #ffffff;
}

.gotowe1 img {
    margin-right: 280px;
}
.loader-container {
    width: 57%;
}

.loader-bar {
    height: 20px;
    background-color: #333;
    animation: loadingAnimation 10s linear infinite;
    margin-left: 25%;
}

@keyframes loadingAnimation {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
.endnag{
	text-align:center;
	font-size: 40px;
}

.gotowe {
    text-align: center;
}

.gotowe3 label{
	margin-right: 300px; /* Doda odstęp poziomo między etykietami */
	font-size: 30px;
	font-family: "Arial Black";
}
=======
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 13px;
  width: 20px;
  height: 20px;
  border: 2px solid #CDB891;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #CDB891;
}


input[type="radio"]:checked + label {
  font-weight: bold;
}

