body {
  margin: 0;
  font-family: sans-sefif;
}
button {
  position: center;
}
label {
  position: center;
}
input {
  position: center;
}
.logowanie{
  position: relative;
  text-align: right;
  margin-right: 50%;
}
.proba{
position: relative;
  text-align: left;
  margin-left: 50%;
  
}
