<html lang="en">
<head>
<title> Index</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <script>
</script>
</head>
<body>
	{%include 'navbar.html'%}
		<section>
			<article>
				{% for i in range(5) %}
				<div class="card">
					<h2> {{ restaurants[i] }}</h2>
					<div class="cardImgrest" style="height:200px;"><img src= {{rest_img[i]}} height="200px" alt="zdjecie restauracji"/> </div>
					<h4> {{ descrip[i] }}</h4>
					<form action="restaurant_menu" method="post">
					<input name="id" type="hidden" value={{restaurants[i]}}>
					<button type="submit" class="przycisk">Zobacz menu!</button>
					</form>
				</div>
				{% endfor %}
			</article>


		</section>
	{%include 'footer.html'%}

</body>
</html>
