<html lang="en">
<head>
<title> Koszyk</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
	<header>
	<a href="/"><img src="static/Godny.pl.png"></img></a>
	</header>
	<nav>
		<a href="register"> Stwórz konto! </a>
		<a href="login"> Zaloguj się! </a>
		<a href="basket"><img src="static/koszyk.png"></a>
	</nav>
		<section>
			<article>
				<div class="card">
					<h2> Nagłówek 1</h2>
					<h5> Podtytuł nagłówka 1</h5>
					<div class="cardImg" style="height:200px;">Image</div>
						<p> niedopisujenicodesiebie</p>
				</div>
				<div class="card">
					<h2> Nagłówek 2</h2>
					<h5> Podtytuł nagłówka 2</h5>

				<div class="cardImg" style="height:200px;">Image</div>
					<p>niedopisujenicodesiebie</p>
				</div>
				<div class="card">
					<h2> Nagłówek 3</h2>
					<h5> Podtytuł nagłówka 3</h5>

				<div class="cardImg" style="height:200px;">Image</div>
					<p><form><button type="submit"  formaction="home_info">Dalej</button></form></p>
				</div>
			</article>

		</section>
		<footer>
			<h2> Wersja 0.2</h2>
		</footer>
</body>
</html>
