<html lang="en">
<head>
<title> Koszyk</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
	{%include 'navbar.html'%}
		<section>
			<article>
				<div class="tytul">
						<h2> Twoje zamówienie: </h2>
					</div>
				{% for i in range(session['cart']|length) %}
					<div class="koszykowe">
					<ul>
						{% if session['cart'] %}
						<li>{{ items[i] }} zł</li>
						{% endif %}
					</ul>
					<form action="/remove_from_cart" method="post">
					<input name="id" type="hidden" value={{it_id[i]}}>
					<button type="submit" class="przycisk">Usuń z koszyka</button>
					</form>
				</div>
				{% endfor %}
			</article>
		</section>
            <div class="promo" id="promo" name="promo">
                <div class="opcje" id="opcje" name="opcje">
                    <h3>Wybierz promocję</h3>
                        <select name="promocja" id="promocja">
                        <optgroup label="Promocje sezonowe">
                            <option value="0">Brak promocji</option>
                            <option value="0.10">Promocja zimowa -10%</option>
                            <option value="0.05">Promocja Sylwestrowa -5%</option>

                            </optgroup>
                            <optgroup label="Promocje stałe">
                                <option value="0.15">Promocja stałego klienta -15%</option>
                                </optgroup>
                            </select>
                     <br />
                    <label for="kwotaDoZaplaty">Do zapłaty:</label>
                <input type="number" id="kwotaDoZaplaty" value={{sum}}  disabled>
                    <br />
			<div class="button1">
                <form action="basket" method="post">
        			<button type="submit">Przejdź dalej</button>
                </form>
                <br />
            		</div>
                </div>
            </div>
        
    <br />
    {%include 'footer.html'%}
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const discountOptions = document.getElementById('promocja');
    const totalAmountInput = document.getElementById('kwotaDoZaplaty');
    const originalTotal = parseFloat(totalAmountInput.value);

    discountOptions.addEventListener('change', function () {
        const selectedDiscount = parseFloat(discountOptions.value);
        const discountedTotal = calculateDiscount(originalTotal, selectedDiscount);
        updateTotalAmount(discountedTotal);
    });

    function calculateDiscount(total, discount) {
        return total * (1 - discount);
    }

    function updateTotalAmount(amount) {
        totalAmountInput.value = amount.toFixed(2);
    }
});
</script>
</body>
</html>
