<html lang="en">
<head>
<title> Index</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
	<header>
	<h2> <a href="#"> Strona główna</a> </h2>
	</header>
	<nav>
		<a href="register"> Stwórz konto! </a>
		<a href="login"> Zaloguj się! </a>
	</nav>
		<section>
			<article>
				<div class="card">
					<h2> {{ menu[0]["restaurant"] }} </h2>
					<h5> {{ menu[0]["product"] }} - {{ menu[0]["price"] }} zł</h5>
					<div class="cardImg" style="height:200px;">Image</div>
						<p> niedopisujenicodesiebie</p>
				</div>
				<div class="card">
					<h2> {{ menu[3]["restaurant"] }} </h2>
					<h5> {{ menu[3]["product"] }} - {{ menu[3]["price"] }} zł</h5>

				<div class="cardImg" style="height:200px;">Image</div>
					<p>niedopisujenicodesiebie</p>
				</div>
				<div class="card">
					<h2> {{ menu[6]["restaurant"] }} </h2>
					<h5> {{ menu[6]["product"] }} - {{ menu[6]["price"] }} zł</h5>

				<div class="cardImg" style="height:200px;">Image</div>
					<p>niedopisujenicodesiebie</p>
				</div>
			</article>
			<aside>
				<div class="card">
					<h2>Nagłówek ASSIDE</h2>
					<div class="cardImg" style="height:100px;"> Image</div>
					<p> Tekst akapitowy . . . .</p>
					<div class="card">
					<h3> Tytuł trzeciej katgorii</h3>
					<div class="cardImg"><p>Image</p></div>
					<div class="cardImg"><p>Image</p></div>
					<div class="cardImg"><p>Image</p></div>
					</div>
				</div>
				<div class="card">
					<h3>Nagłówek 4</h3>
					<p> tekst</p>
				</div>
			</aside>
		</section>
		<footer>
			<h2> stopka</h2>
		</footer>
</body>
</html>