<html lang="en">
<head>
<title> Index</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
	<header>
	<a href="/"><img src="static/Godny.pl.png"></a>
	</header>
	<nav>
		{% if session["user_id"] %}
		<a href="logout"> Wyloguj! </a>
		<a href="basket"><img src="static/koszyk.png"></a>
		{% else %}
		<a href="register"> Stwórz konto! </a>
		<a href="login"> Zaloguj się! </a>
		<a href="basket"><img src="static/koszyk.png"></a>
		<a href="all_shops" class= "shops"> Wszystkie restauracje</a>
        {% endif %}
	</nav>
		<section>
			<article>
				{% for i in range(4) %}
				<div class="card">
					<h2> {{ menu[i]['restaurant'] }}</h2>
					<h5> Nie wiem co tutaj</h5>

				<div class="cardImg" style="height:200px;">Image</div>
					<div class="przyciski">
			                        <p> Polecamy: {{ menu[i]['product'] }} {{ menu[i]['price'] }}</p>
			                        <button class="przycisk">Dodaj do koszyka</button>
	                    		</div>
				</div>
				{% endfor %}
			</article>
		</section>
		<footer>
            <div class="contact">
            <h3>Kontakt</h3>
            <p>Numer infolinii: +48 123 456 789</p>
            <p>Email: info@glodny.pl</p>
        </div>

        <div class="socials">
            <h3>Znajdź nas</h3>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/twojaserwisjedzenia" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/twojaserwis" target="_blank">Twitter</a></li>
            </ul>
        </div>
		</footer>
</body>
</html>
