<html lang="en">
<head>
<title> Index</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
	<header>
	<a href="/"><img src="static/Godny.pl.png"></a>
	</header>
	<nav>
		{% if session["user_id"] %}
		<a href="logout"> Wyloguj! </a>
		<a href="basket"><img src="static/koszyk.png"></a>
		{% else %}
		<a href="register"> Stwórz konto! </a>
		<a href="login"> Zaloguj się! </a>
		<a href="basket"><img src="static/koszyk.png"></a>
		<a href="all_shops" class= "shops"> Wszystkie restauracje</a>
        {% endif %}
	</nav>
		<section>
			<article>
				{% for i in range(3) %}
				<div class="card">
					<h2> {{ menu[i]['restaurant'] }}</h2>
					<h5> Nie wiem co tutaj</h5>

				<div class="cardImg" style="height:200px;">Image</div>
					<div class="przyciski">
									<form action="basket" method="post">
			                        <p> Polecamy: {{ menu[i]['product'] }} {{ menu[i]['price'] }}</p>
									<input name="id" type="hidden" value={{menu[i]['id']}}>
			                        <button type="submit" class="przycisk">Dodaj do koszyka</button>
									</form>
	                    		</div>
				</div>
				{% endfor %}
			</article>
		</section>
		<footer>
			<h2> Wersja 0.5</h2>
		</footer>
</body>
</html>
