<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Informacje dostawy</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
<header>
<a href="/"><img src="static/Godny.pl.png"></img></a>
</header>
<nav>
	{% if session["user_id"] %}
    <a href="logout"> Wyloguj! </a>
    <a href="basket"><img src="static/koszyk.png"></a>
    {% else %}
    <a href="register"> Stwórz konto! </a>
    <a href="login"> Zaloguj się! </a>
    <a href="basket"><img src="static/koszyk.png"></a>
        <a href="all_shops" class= "shops"> Wszystkie restauracje</a>
    {% endif %}
</nav>
<div class="dostawa">
    <form method="post" action="/login">
      <label>E-mail</label>
      <br />
      <input name= "E-mail" type= "email" id= "E-mail" required />
        <br />
        <br />
        <label>Hasło</label>
        <br />
        <input name= "Haslo" type= "password" posiotion = "center" id= "Haslo" required/>
          <br />
          <br />
            <button type = "submit" id = "Guzior"  name= "Guzior"> Zaloguj się </button>
  </form>
</div>
<footer>
    <div class="contact">
        <div class="tel">
        <img src="static/phone1.png" />
            <p><b>+48 123 456 789</b></p>
        </div>
        <div class="mail">
        <img src="static/mail1.png" />
        <p><b>info@glodny.pl</b></p>
        </div>
    </div>

    <div class="socials">
        <h3>Znajdź nas na naszych social mediach</h3>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com"><img src="static/facebook.png" target="_blank"/></a></li>
            <li><a href="https://www.instagram.com"><img src="static/insta.png" target="_blank"/></a></li>
            <li><a href="https://www.twitter.com"><img src="static/x.png" target="_blank"/></a></li>
            <li><a href="https://www.tiktok.com"><img src="static/tik.png" target="_blank"/></a></li>
        </ul>
    </div>
</footer>
</body>
</html>
