<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8" />
  <title> Login</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form>
      <label>Login</label>
      <br />
      <input name= "Login" type= "text" id= "Login" />
        <br />
        <br />
        <label>Hasło</label>
        <br />
        <input name= "Haslo" type= "password" posiotion = "center" id= "Haslo" />
          <br />
          <br />
            <button type = "submit" id = "Guzior"  name= "Guzior"> WYŚLIJ </button>  
  </form>
  
    <footrer>
  
    </footrer>
</body>
