<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8" />
  <title> Login</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <form method="post" action="/login">
      <label>E-mail</label>
      <br />
      <input name= "E-mail" type= "email" id= "E-mail" />
        <br />
        <br />
        <label>Hasło</label>
        <br />
        <input name= "Haslo" type= "password" posiotion = "center" id= "Haslo" />
          <br />
          <br />
            <button type = "submit" id = "Guzior"  name= "Guzior"> Zaloguj się </button>  
  </form>
  
    <footrer>
  
    </footrer>
</body>
