<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>

<header>
<a href="/"><img src="static/Godny.pl.png"></img></a>
</header>
<nav>
	{% if session["user_id"] %}
	<a href="logout"> Wyloguj! </a>
	<a href="all_shops" class="link"> Wszystkie restauracje </a>
	<a href="basket"><img src="static/koszyk.png"></a>
	{% else %}
	<div class="header1">
		<div class="dropdown">
		<a href="register"class="link">Stwórz konto!</a>
		</div>
		<div class="dropdown">
			<a href="login"class="link">Zaloguj się!</a>
		</div>
	</div>
	<a href="all_shops" class= "link"> Wszystkie restauracje</a>
	<a href="basket"><img src="static/koszyk.png"></a>
	{% endif %}
</nav>
</body>
</html>