<html lang="en">
<head>
<title>Informacje dostawy</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
<header>
<a href="/"><img src="static/Godny.pl.png"></img></a>
</header>
<nav>
	{% if session["user_id"] %}
	<a href="logout"> Wyloguj! </a>
	<a href="basket"><img src="static/koszyk.png"></a>
	{% else %}
	<a href="register"> Stwórz konto! </a>
	<a href="login"> Zaloguj się! </a>
	<a href="basket"><img src="static/koszyk.png"></a>
        <a href="all_shops" class= "shops"> Wszystkie restauracje</a>
	{% endif %}
</nav>
<form method="post" action="/payment">
<div class="payment-form">
    <h2>Wybierz Formę Płatności</h2>

    <div class="payment-option">
      <input type="radio" id="paypal" name="payment">
      <label for="paypal">PayPal</label>
    </div>

    <div class="payment-option">
      <input type="radio" id="creditCard" name="payment">
      <label for="creditCard">Karta Płatnicza</label>
    </div>

    <div class="payment-option">
      <input type="radio" id="bankTransfer" name="payment">
      <label for="bankTransfer">Przelew Bankowy</label>
    </div>

    <div class="payment-option">
      <input type="radio" id="cashOnDelivery" name="payment">
      <label for="cashOnDelivery">Płatność gotówką przy odbiorze</label>
    </div>
	
	<div class="payment-option">
      <input type="radio" id="cashOnDelivery" name="payment">
      <label for="deliveryCard">Karta podarunkowa</label>
    </div>
	<br />
	<button type="submit" id="submitBtn">Dalej</button>
</div>
</form>
 <script>
        document.addEventListener('DOMContentLoaded', function() {
            var submitBtn = document.getElementById('submitBtn');
            var paymentOptions = document.getElementsByName('payment');

            function updateSubmitButton() {
                var selectedOptions = Array.from(paymentOptions).filter(option => option.checked);
                submitBtn.disabled = selectedOptions.length !== 1;
            }

            paymentOptions.forEach(function(option) {
                option.addEventListener('change', updateSubmitButton);
            });

            // Wywołanie funkcji po załadowaniu strony, aby zainicjować stan przycisku
            updateSubmitButton();
        });
    </script>
<footer>
    <div class="contact">
        <div class="tel">
        <img src="static/phone1.png" />
            <p><b>+48 123 456 789</b></p>
        </div>
        <div class="mail">
        <img src="static/mail1.png" />
        <p><b>info@glodny.pl</b></p>
        </div>
    </div>

    <div class="socials">
        <h3>Znajdź nas na naszych social mediach</h3>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com"><img src="static/facebook.png" target="_blank"/></a></li>
            <li><a href="https://www.instagram.com"><img src="static/insta.png" target="_blank"/></a></li>
            <li><a href="https://www.twitter.com"><img src="static/x.png" target="_blank"/></a></li>
            <li><a href="https://www.tiktok.com"><img src="static/tik.png" target="_blank"/></a></li>
        </ul>
    </div>
</footer>
</body>
</html>
