<html lang="en">
<head>
<title>Informacje dostawy</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
<header>
<a href="/"><img src="static/Godny.pl.png"></img></a>
</header>
<nav>
	{% if session["user_id"] %}
	<a href="logout"> Wyloguj! </a>
	<a href="basket"><img src="static/koszyk.png"></a>
	{% else %}
	<a href="register"> Stwórz konto! </a>
	<a href="login"> Zaloguj się! </a>
	<a href="basket"><img src="static/koszyk.png"></a>
	{% endif %}
</nav>
<form method="post" action="/payment">
<div class="payment-form">
    <h2>Wybierz Formę Płatności</h2>

    <div class="payment-option">
      <input type="checkbox" id="paypal" name="paypal">
      <label for="paypal">PayPal</label>
    </div>

    <div class="payment-option">
      <input type="checkbox" id="creditCard" name="creditCard">
      <label for="creditCard">Karta Płatnicza</label>
    </div>

    <div class="payment-option">
      <input type="checkbox" id="bankTransfer" name="bankTransfer">
      <label for="bankTransfer">Przelew Bankowy</label>
    </div>

    <div class="payment-option">
      <input type="checkbox" id="cashOnDelivery" name="cashOnDelivery">
      <label for="cashOnDelivery">Płatność gotówką przy odbiorze</label>
    </div>
	
	<div class="payment-option">
      <input type="checkbox" id="cashOnDelivery" name="deliveryCard">
      <label for="deliveryCard">Karta podarunkowa</label>
    </div>
	<br />
	<button type="submit" id="submitBtn" disabled onclick="submitForm()">Dalej</button>
</div>
</form>
 <script>
    function submitForm() {
      var checkboxes = document.querySelectorAll('.payment-option input[type="checkbox"]');
      var submitBtn = document.getElementById('submitBtn');

      var checked = Array.from(checkboxes).some(checkbox => checkbox.checked);

      if (checked) {
       window.location.href = 'end';
      } else {
        alert('Wybierz co najmniej jedną formę płatności!');
      }
    }

    document.addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.payment-option input[type="checkbox"]');
      var submitBtn = document.getElementById('submitBtn');

      var checked = Array.from(checkboxes).some(checkbox => checkbox.checked);
      submitBtn.disabled = !checked;
    });
  </script>

</body>
</html>
