<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Rejestracja restauracji</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
{%include 'navbar.html'%}
<div class="dostawa">
    <form method="post" action="/register_restaurant">
  <label>Nazwa</label><br /><input name="Nazwa" id="Nazwa" type="text" /><br /><br />
  <label>E-mail</label><br /><input name="E-mail" type="email" /><br /><br />
  <label>Hasło</label><br /><input name="Haslo" type="password" /><br /><br />
  <label>Powtórz hasło</label><br /><input name="HasloPowtorz" type="password" /><br /><br />
  <button type="submit">Zarejestruj się</button><br />
</form>
</div>
{%include 'footer.html'%}
</body>
</html>
