<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Informacje dostawy</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
</head>
<body>
{%include 'navbar.html'%}
<div class="dostawa">
    <script type="text/javascript">

    </script>
    <form method="post" action="/register">
  <label>Imię</label><br /><input name="Imie" id="Imie" type="text" /><br /><br />
  <label>Nazwisko</label><br /><input name="Nazwisko" type="text" /><br /><br />
  <label>E-mail</label><br /><input name="E-mail" type="email" /><br /><br />
  <label>Hasło</label><br /><input name="Haslo" type="password" /><br /><br />
  <label>Powtórz hasło</label><br /><input name="HasloPowtorz" type="password" /><br /><br />
  <button type="submit">Zarejestruj się</button><br />
</form>
</div>
<footer>
    <div class="contact">
        <div class="tel">
        <img src="static/phone1.png" />
            <p><b>+48 123 456 789</b></p>
        </div>
        <div class="mail">
        <img src="static/mail1.png" />
        <p><b>info@glodny.pl</b></p>
        </div>
    </div>

    <div class="socials">
        <h3>Znajdź nas na naszych social mediach</h3>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com"><img src="static/facebook.png" target="_blank"/></a></li>
            <li><a href="https://www.instagram.com"><img src="static/insta.png" target="_blank"/></a></li>
            <li><a href="https://www.twitter.com"><img src="static/x.png" target="_blank"/></a></li>
            <li><a href="https://www.tiktok.com"><img src="static/tik.png" target="_blank"/></a></li>
        </ul>
    </div>
</footer>

</body>
</html>
