<!DOCTYPE HTML>
<head>
  <title>REJESTRACJA</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/styles.css">
  <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/register">
  <label>Imię</label><br /><input name="Imie" id="Imie" type="text" /><br /><br />
  <label>Nazwisko</label><br /><input name="Nazwisko" type="text" /><br /><br />
  <label>E-mail</label><br /><input name="E-mail" type="email" /><br /><br />
  <label>Hasło</label><br /><input name="Haslo" type="password" /><br /><br />
  <label>Powtórz hasło</label><br /><input name="HasloPowtorz" type="password" /><br /><br />  
  <button type="submit">Zarejestruj się</button><br />
</form>
</body>
